.parallax {
    /* The image used */
    background-image: url("../../assets/marcus.png");
  
    /* Set a specific height */
    min-height: 350px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }